.input-area {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-input {
  border: none;
  outline: none;
  background-color: #1e1e1e;
  border-bottom: 1px solid #a4adb4;
  color: #a4adb4;
}

.form-text-area {
  border: none;
  outline: none;
  background-color: #1e1e1e;
  border: 1px solid #a4adb4;
  color: #a4adb4;
  overflow: auto;
  resize: none;
}

.btn {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  outline: none;
  color: #1e1e1e;
  background-color: #a4adb4;
  border-radius: 1.5rem;
}

.btn:hover {
  cursor: pointer;
  background-color: white;
}

.btn:active {
  transform: scale(1.1);
}
