* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 500;
}

.heading {
  padding-bottom: 1rem;
}

.sub-heading {
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: hotpink;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

body {
  background-color: #1e1e1e;
}
